
::selection{
    background-color: #273c75;
    color: #c7ecee;
}
body{
    background-color: #2f3542;
}

.container{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    display: grid;
}
h1{
    text-decoration: underline;
}
a{
    text-decoration: none;
}

.header{
    padding-left: 7px;
    background-color: #2f3542;
    color: white;

}
.header .nav{
    padding-left: 15px;
    margin-top: 4px;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.header a{
    display: inline-block;
    border: 2px solid rgb(86, 85, 85);
    border-radius: 4px;
    background-color: #555e67;
    color: white;
}
.main{
    display: grid;
    grid-template-columns:1fr 5.5fr ;
    
}

.main .cntnr{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-column: 1/2;
    background-color: #555e67;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.main .menu{
    display: flex;
    flex-direction: column;

}
.main .menu .menuItem{
    color: white;
    border: none;
    outline: none;
    border-bottom: 3px solid #2f3542;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

}
.cards{
    margin: 7px;
    display: flex;
    flex-direction: column;
    
}
input[type="button"]{
    border-radius: 12px;
    margin-bottom: 3px;


}
.main .cntnt{
    padding-left: 15px;
    padding-top: 7px;
    
}
.contnt .content{
    grid-column: 2/-1;
    grid-row: 1/-2;
        
}
.articles{
    margin-right:  10px;
    padding-bottom: 7px;
    grid-column: 2/-1;
    grid-row: -2/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(75px,1fr));
    gap: 3px;
}
.article{
    border: 1.5px solid #555e67;
    border-radius: 4px;
    padding-left: 7px;
    padding-bottom: 4px;
    background-color: #ced6e0f6;
}
.article a{
     text-decoration: underline;
     columns: #9980FA;
}

.footer{
    padding-left: 5px;
    display: grid;    
    grid-template-rows: 50px 70px;    
    background-color: #2f3542;
    color: white;
}
.footer>section{
    display: flex;
    padding: 20px;

}

.footer .media {
    margin-left: auto;
}
.footer p{
    grid-column: 1/-1;
    grid-row: 2/-1;
}